name: CSS Lint

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Stylelint
        run: npm install -g stylelint stylelint-config-standard
      - name: Run Stylelint
        run: stylelint "**/*.css"
